/*--- Avanquest WebEasy Page Style ---*/


.cc53               { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #ffff00;
	}
.cc54               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc55               { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc56               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
img#e16             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 243.00pt;
	top             :1785.00pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e15             { /* Return To Machinery Page */
	position        : absolute;
	left            : 249.00pt;
	top             :1788.75pt;
	width           : 117.00pt;
	height          :  14.25pt;
	}
div#e14             { /* Back to top of page */
	position        : absolute;
	left            : 261.00pt;
	top             :1764.75pt;
	width           : 106.50pt;
	height          :  14.25pt;
	}
img#e13             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            : 240.00pt;
	top             :1763.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e12             { /* Fly Press - The full art... */
	position        : absolute;
	left            :  26.25pt;
	top             : 105.00pt;
	width           : 541.50pt;
	height          : 157.50pt;
	}
span#e11            { /* wcbgsite009007.gif */
	clip            : rect(0.00pt,589.50pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite009007.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  54.00pt;
	width           : 589.50pt;
	height          :   7.50pt;
	}
img#e10             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 294.00pt;
	top             :  70.50pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e9              { /* Return To Machinery Page */
	position        : absolute;
	left            : 300.00pt;
	top             :  74.25pt;
	width           : 117.00pt;
	height          :  14.25pt;
	}
h4#e8               { /* Gallery */
	text-align      : right;
	position        : absolute;
	left            : 525.00pt;
	top             :  78.75pt;
	width           :  97.50pt;
	height          :  18.75pt;
	}
span#e7             { /* wcbgsite014003.jpg */
	background      : transparent url(wcbgsite014003.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.00pt;
	top             : 148.50pt;
	width           : 592.50pt;
	height          : 740.25pt;
	}
span#e6             { /* wcbgsite014002.jpg */
	background      : transparent url(wcbgsite014002.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.75pt;
	top             : 972.75pt;
	width           : 591.00pt;
	height          : 738.75pt;
	}
div#e5              { /* Fly Press Drawing  */
	position        : absolute;
	left            :  38.25pt;
	top             : 893.25pt;
	width           : 140.25pt;
	height          :  15.00pt;
	}
div#e4              { /* Fly Press Ram Detail */
	position        : absolute;
	left            :  39.75pt;
	top             :1719.00pt;
	width           : 140.25pt;
	height          :  15.00pt;
	}
div#e3              { /* Copyright, Don Sinclaire... */
	position        : absolute;
	left            : 246.00pt;
	top             :1742.25pt;
	width           : 171.75pt;
	height          :  14.25pt;
	}
h1#e2               { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  53.25pt;
	}
span#e1             { /* wcbgsite009001.jpg */
	background      : transparent url(wcbgsite009001.jpg) no-repeat top left;
	position        : absolute;
	left            :  58.50pt;
	top             :  12.00pt;
	width           :  86.25pt;
	height          :  80.25pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
