/*--- Avanquest WebEasy Page Style ---*/


.cc26               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc27               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	}
.cc28               { /* Common */
	border          :   0.00pt none #00ff00;
	}
span#e29            { /* wcbgsite001008.gif */
	background      : transparent url(wcbgsite001008.gif) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             :  30.75pt;
	width           : 140.25pt;
	height          : 377.25pt;
	}
span#e28            { /* wcbgsite005008.gif */
	clip            : rect(0.00pt,591.00pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite005008.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  52.50pt;
	width           : 591.00pt;
	height          :   7.50pt;
	}
span#e27            { /* wcbgsite007003.gif */
	clip            : rect(0.00pt,592.50pt,0.75pt,0.00pt);
	background      : transparent url(wcbgsite007003.gif) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 463.50pt;
	width           : 592.50pt;
	height          :   0.75pt;
	}
h4#e26              { /* Membership Application F... */
	text-align      : right;
	position        : absolute;
	left            : 387.00pt;
	top             :  61.50pt;
	width           : 237.75pt;
	height          :  21.75pt;
	}
div#e25             { /* Mail Membership applicat... */
	position        : absolute;
	left            : 184.50pt;
	top             : 354.00pt;
	width           : 197.25pt;
	height          :  28.50pt;
	}
div#e24             { /* \ \Western Canadian Blac... */
	position        : absolute;
	left            : 408.00pt;
	top             : 356.25pt;
	width           : 181.50pt;
	height          :  86.25pt;
	}
div#e23             { /* \ \or bring your applica... */
	position        : absolute;
	left            : 182.25pt;
	top             : 407.25pt;
	width           : 288.75pt;
	height          :  41.25pt;
	}
div#e22             { /* Membership Application t... */
	position        : absolute;
	left            : 163.50pt;
	top             :  93.00pt;
	width           : 354.00pt;
	height          :  60.75pt;
	}
div#e21             { /* The membership fee is $4... */
	position        : absolute;
	left            : 186.00pt;
	top             : 150.00pt;
	width           : 302.25pt;
	height          :  74.25pt;
	}
div#e20             { /* <P><FONT color="#330066"... */
	position        : absolute;
	left            : 224.25pt;
	top             : 282.00pt;
	width           : 192.75pt;
	height          :  45.75pt;
	}
span#e19            { /* wcbgsite007002.gif */
	background      : transparent url(wcbgsite007002.gif) no-repeat top left;
	position        : absolute;
	left            : 289.50pt;
	top             : 223.50pt;
	width           :  81.75pt;
	height          :  31.50pt;
	}
div#e18             { /* WCBG PDF */
	position        : absolute;
	left            : 298.50pt;
	top             : 233.25pt;
	width           :  75.75pt;
	height          :  15.00pt;
	}
h6#e17              { /* Contact Us */
	position        : absolute;
	left            : 301.50pt;
	top             : 470.25pt;
	width           :  89.25pt;
	height          :  15.00pt;
	}
img#e16             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 243.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e15             { /* Home */
	color           : #00ff00;
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             :  81.00pt;
	width           :  81.75pt;
	height          :  14.25pt;
	}
a#a15               { /* Home */
	color           : #00ff00;
	}
div#e14             { /* Meetings & Events */
	text-align      : left;
	position        : absolute;
	left            :  60.75pt;
	top             : 108.75pt;
	width           :  98.25pt;
	height          :  14.25pt;
	}
div#e13             { /* Resources */
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             : 136.50pt;
	width           :  81.75pt;
	height          :  26.25pt;
	}
div#e12             { /* News */
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             : 164.25pt;
	width           :  81.75pt;
	height          :  20.25pt;
	}
div#e11             { /* Links */
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             : 218.25pt;
	width           :  81.75pt;
	height          :  17.25pt;
	}
div#e10             { /* Membership Form */
	text-align      : left;
	position        : absolute;
	left            :  60.00pt;
	top             : 241.50pt;
	width           :  81.75pt;
	height          :  26.25pt;
	}
div#e9              { /* Gallery */
	text-align      : left;
	position        : absolute;
	left            :  62.25pt;
	top             : 189.00pt;
	width           :  81.75pt;
	height          :  14.25pt;
	}
img#e8              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 219.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e7              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 187.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e6              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 164.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e5              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 137.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e4              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 109.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e3              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  43.50pt;
	top             :  81.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
h1#e2               { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  53.25pt;
	}
span#e1             { /* wcbgsite001001.jpg */
	background      : transparent url(wcbgsite001001.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 282.75pt;
	width           : 139.50pt;
	height          : 124.50pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
