/*--- Avanquest WebEasy Page Style ---*/


.cc09               { /* Common */
	font            : 12pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc10               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc11               { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
span#e28            { /* wcbgsite001008.gif */
	background      : transparent url(wcbgsite001008.gif) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             :  30.75pt;
	width           : 140.25pt;
	height          : 377.25pt;
	}
span#e27            { /* wcbgsite002004.gif */
	clip            : rect(0.00pt,593.25pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite002004.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  52.50pt;
	width           : 593.25pt;
	height          :   7.50pt;
	}
span#e26            { /* wcbgsite002003.gif */
	clip            : rect(0.00pt,603.00pt,0.75pt,0.00pt);
	background      : transparent url(wcbgsite002003.gif) no-repeat top left;
	position        : absolute;
	left            :  25.50pt;
	top             : 1235.25pt;
	width           : 603.00pt;
	height          :   0.75pt;
	}
h4#e25              { /* Meetings and Events */
	text-align      : right;
	position        : absolute;
	left            : 442.50pt;
	top             :  61.50pt;
	width           : 183.00pt;
	height          :  21.75pt;
	}
div#e24             { /* \ \WCBG meeting dates fo... */
	position        : absolute;
	left            : 180.75pt;
	top             :  66.00pt;
	width           : 391.50pt;
	height          : 344.25pt;
	}
h6#e23              { /* Contact Us */
	position        : absolute;
	left            : 255.00pt;
	top             : 1243.50pt;
	width           : 142.50pt;
	height          :  15.00pt;
	}
div#e22             { /* Back to top of page */
	position        : absolute;
	left            : 284.25pt;
	top             : 1272.00pt;
	width           : 106.50pt;
	height          :  14.25pt;
	}
img#e21             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            : 263.25pt;
	top             : 1270.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e20            { /* wcbgsite002002.jpg */
	background      : transparent url(wcbgsite002002.jpg) no-repeat top left;
	position        : absolute;
	left            :  59.25pt;
	top             : 778.25pt;
	width           : 547.50pt;
	height          : 411.00pt;
	}
img#e19             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 243.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e18             { /* Meetings & Events */
	text-align      : left;
	position        : absolute;
	left            :  60.75pt;
	top             : 108.75pt;
	width           :  98.25pt;
	height          :  14.25pt;
	}
div#e17             { /* Resources */
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             : 136.50pt;
	width           :  81.75pt;
	height          :  26.25pt;
	}
div#e16             { /* News */
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             : 164.25pt;
	width           :  81.75pt;
	height          :  20.25pt;
	}
div#e15             { /* Links */
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             : 218.25pt;
	width           :  81.75pt;
	height          :  17.25pt;
	}
div#e14             { /* Membership Form */
	text-align      : left;
	position        : absolute;
	left            :  60.00pt;
	top             : 241.50pt;
	width           :  81.75pt;
	height          :  26.25pt;
	}
div#e13             { /* Gallery */
	text-align      : left;
	position        : absolute;
	left            :  62.25pt;
	top             : 189.00pt;
	width           :  81.75pt;
	height          :  14.25pt;
	}
img#e12             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 219.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e11             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 187.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e10             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 164.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e9              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 137.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e8              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  42.75pt;
	top             : 109.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e7              { /* Home */
	color           : #00ff00;
	text-align      : left;
	position        : absolute;
	left            :  61.50pt;
	top             :  81.00pt;
	width           :  81.75pt;
	height          :  14.25pt;
	}
a#a7                { /* Home */
	color           : #00ff00;
	}
img#e6              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  43.50pt;
	top             :  81.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
h1#e5               { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  53.25pt;
	}
span#e4             { /* wcbgsite001001.jpg */
	background      : transparent url(wcbgsite001001.jpg) no-repeat top left;
	position        : absolute;
	left            :  18.00pt;
	top             : 282.75pt;
	width           : 139.50pt;
	height          : 124.50pt;
	}
div#e3              { /* Map to our Shop  */
	position        : absolute;
	left            :  57.75pt;
	top             : 492.75pt;
	width           : 189.00pt;
	height          :  40.50pt;
	}
div#e3v2              { /* Google Maps  */
		position        : absolute;
		left            :  57.75pt;
		top             : 522.75pt;
		width           : 189.00pt;
		height          :  40.50pt;
		}
div#e2              { /* Leduc West Antique Socie... */
	position        : absolute;
	left            : 180.00pt;
	top             : 428.25pt;
	width           : 407.25pt;
	height          :  33.00pt;
	}
div#e1              { /* &nbsp;<A href="http://ww... */
	position        : absolute;
	left            : 177.75pt;
	top             : 463.50pt;
	width           : 272.25pt;
	height          :  16.50pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
