/*--- Avanquest WebEasy Page Style ---*/


.cc65               { /* Common */
	border          :   0.00pt none #000080;
	}
.cc66               { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #ffff00;
	}
.cc67               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc68               { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #00ffff;
	text-align      : center;
	}
.cc69               { /* Common */
	clip            : rect(0.00pt,556.50pt,0.75pt,0.00pt);
	}
.cc70               { /* Common */
	font            : 9pt 'Arial', Helvetica, sans-serif;
	color           : #000080;
	}
.cc71               { /* Common */
	font            : bold 24pt 'Arial', Helvetica, sans-serif;
	color           : #000080;
	text-align      : center;
	}
.cc72               { /* Common */
	font            : bold 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc73               { /* Common */
	font            : 10pt 'System', monospace;
	color           : #000000;
	}
span#e19            { /* wcbgsite017005.gif */
	background      : transparent url(wcbgsite017005.gif) no-repeat top left;
	position        : absolute;
	left            :  35.25pt;
	top             :  33.00pt;
	width           : 103.50pt;
	height          : 363.75pt;
	}
img#e18             { /* wcbgsite017004.gif */
	background-color: transparent;
	position        : absolute;
	left            : 329.25pt;
	top             : 781.50pt;
	width           : 133.50pt;
	height          :  19.50pt;
	}
div#e17             { /* Return To Main News Page */
	position        : absolute;
	left            : 335.25pt;
	top             : 785.25pt;
	width           : 117.00pt;
	height          :  14.25pt;
	}
div#e16             { /* Back to top of page */
	position        : absolute;
	left            : 347.25pt;
	top             : 761.25pt;
	width           : 106.50pt;
	height          :  14.25pt;
	}
img#e15             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            : 326.25pt;
	top             : 759.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e14            { /* wcbgsite009007.gif */
	clip            : rect(0.00pt,589.50pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite009007.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  54.00pt;
	width           : 589.50pt;
	height          :   7.50pt;
	}
img#e13             { /* wcbgsite017003.gif */
	background-color: transparent;
	position        : absolute;
	left            : 294.00pt;
	top             :  70.50pt;
	width           : 242.25pt;
	height          :  23.25pt;
	}
div#e12             { /* Return To Main Website N... */
	position        : absolute;
	left            : 303.00pt;
	top             :  73.50pt;
	width           : 223.50pt;
	height          :  17.25pt;
	}
h1#e11              { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  38.25pt;
	}
span#e10            { /* wcbgsite017002.gif */
	background      : transparent url(wcbgsite017002.gif) no-repeat top left;
	position        : absolute;
	left            : 118.50pt;
	top             : 561.75pt;
	width           : 556.50pt;
	height          :   0.75pt;
	}
div#e9              { /* Click here to contact us */
	position        : absolute;
	left            : 364.50pt;
	top             : 570.75pt;
	width           : 105.75pt;
	height          :  13.50pt;
	}
div#e8              { /* Spare Page */
	position        : absolute;
	left            : 210.75pt;
	top             :  96.75pt;
	width           : 360.75pt;
	height          :  30.75pt;
	}
div#e7              { /* Back to top of page */
	position        : absolute;
	left            : 378.75pt;
	top             : 597.00pt;
	width           : 124.50pt;
	height          :  35.25pt;
	}
img#e6              { /* wcbgsite001002.gif */
	position        : absolute;
	left            : 358.50pt;
	top             : 596.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e5             { /* wcbgsite017001.jpg */
	background      : transparent url(wcbgsite017001.jpg) no-repeat top left;
	position        : absolute;
	left            :  16.50pt;
	top             : 122.25pt;
	width           : 139.50pt;
	height          : 124.50pt;
	}
div#e4              { /* Back to main website */
	position        : absolute;
	left            : 401.25pt;
	top             : 524.25pt;
	width           : 170.25pt;
	height          :  26.25pt;
	}
img#e3              { /* wcbgsite001002.gif */
	position        : absolute;
	left            : 383.25pt;
	top             : 524.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e2              { /* Back */
	color           : #00ff00;
	text-align      : left;
	position        : absolute;
	left            :  63.00pt;
	top             :  81.75pt;
	width           :  81.75pt;
	height          :  14.25pt;
	}
a#a2                { /* Back */
	color           : #00ff00;
	}
img#e1              { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            :  43.50pt;
	top             :  81.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
