/*--- Avanquest WebEasy Page Style ---*/


.cc62               { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #ffff00;
	}
.cc63               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc64               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
img#e19             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 233.25pt;
	top             :2562.75pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e18             { /* Return To Resources Page */
	position        : absolute;
	left            : 239.25pt;
	top             :2566.50pt;
	width           : 117.00pt;
	height          :  14.25pt;
	}
div#e17             { /* Back to top of page */
	position        : absolute;
	left            : 251.25pt;
	top             :2542.50pt;
	width           : 106.50pt;
	height          :  14.25pt;
	}
img#e16             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            : 230.25pt;
	top             :2541.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e15            { /* wcbgsite009007.gif */
	clip            : rect(0.00pt,589.50pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite009007.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  54.00pt;
	width           : 589.50pt;
	height          :   7.50pt;
	}
img#e14             { /* wcbgsite016006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 294.00pt;
	top             :  70.50pt;
	width           : 127.50pt;
	height          :  19.50pt;
	}
div#e13             { /* Return To Resources Page */
	position        : absolute;
	left            : 300.00pt;
	top             :  74.25pt;
	width           : 123.75pt;
	height          :  14.25pt;
	}
h4#e12              { /* COAL INFORMATION */
	text-align      : right;
	position        : absolute;
	left            : 445.50pt;
	top             :  78.75pt;
	width           : 177.00pt;
	height          :  26.25pt;
	}
div#e11             { /* Copyright, Don Sinclaire... */
	position        : absolute;
	left            : 665.25pt;
	top             :1243.50pt;
	width           : 159.75pt;
	height          :  14.25pt;
	}
h1#e10              { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  53.25pt;
	}
span#e9             { /* wcbgsite009001.jpg */
	background      : transparent url(wcbgsite009001.jpg) no-repeat top left;
	position        : absolute;
	left            :  58.50pt;
	top             :  12.00pt;
	width           :  86.25pt;
	height          :  80.25pt;
	}
span#e8             { /* wcbgsite016004.jpg */
	background      : transparent url(wcbgsite016004.jpg) no-repeat top left;
	position        : absolute;
	left            :  15.00pt;
	top             : 600.00pt;
	width           : 805.50pt;
	height          : 644.25pt;
	}
div#e7              { /* The graph below shows th... */
	position        : absolute;
	left            :  15.75pt;
	top             : 123.75pt;
	width           : 539.25pt;
	height          : 470.25pt;
	}
div#e6              { /* Sources:\ \\ \Analysis o... */
	position        : absolute;
	left            :  18.75pt;
	top             :2322.75pt;
	width           : 539.25pt;
	height          : 158.25pt;
	}
span#e5             { /* wcbgsite016003.jpg */
	background      : transparent url(wcbgsite016003.jpg) no-repeat top left;
	position        : absolute;
	left            :  19.50pt;
	top             :1293.00pt;
	width           : 472.50pt;
	height          : 515.25pt;
	}
span#e4             { /* wcbgsite016002.jpg */
	background      : transparent url(wcbgsite016002.jpg) no-repeat top left;
	position        : absolute;
	left            :  15.75pt;
	top             :1818.75pt;
	width           : 410.25pt;
	height          : 448.50pt;
	}
span#e3             { /* wcbgsite016001.jpg */
	background      : transparent url(wcbgsite016001.jpg) no-repeat top left;
	position        : absolute;
	left            : 436.50pt;
	top             :1836.00pt;
	width           : 367.50pt;
	height          : 420.00pt;
	}
div#e2              { /* From: Scientific and Ind... */
	position        : absolute;
	left            : 125.25pt;
	top             :2270.25pt;
	width           : 539.25pt;
	height          :  26.25pt;
	}
div#e1              { /* From:\ \Research Council... */
	position        : absolute;
	left            : 501.75pt;
	top             :1569.75pt;
	width           : 161.25pt;
	height          :  26.25pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
