/*--- Avanquest WebEasy Page Style ---*/


.cc49               { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #ffff00;
	}
.cc50               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc51               { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc52               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
img#e42             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 243.00pt;
	top             :1977.75pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e41             { /* Return To Gallery Index */
	position        : absolute;
	left            : 249.00pt;
	top             :1981.50pt;
	width           : 117.00pt;
	height          :  12.75pt;
	}
div#e40             { /* Back to top of page */
	position        : absolute;
	left            : 261.00pt;
	top             :1957.50pt;
	width           : 106.50pt;
	height          :  14.25pt;
	}
img#e39             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            : 240.00pt;
	top             :1956.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e38             { /* Machinery */
	position        : absolute;
	left            :  26.25pt;
	top             : 105.00pt;
	width           : 119.25pt;
	height          :  19.50pt;
	}
span#e37            { /* wcbgsite013016.jpg */
	background      : transparent url(wcbgsite013016.jpg) no-repeat top left;
	position        : absolute;
	left            :  26.25pt;
	top             :1425.00pt;
	width           : 186.00pt;
	height          : 444.00pt;
	}
span#e36            { /* wcbgsite009007.gif */
	clip            : rect(0.00pt,589.50pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite009007.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  54.00pt;
	width           : 589.50pt;
	height          :   7.50pt;
	}
img#e35             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 294.00pt;
	top             :  70.50pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e34             { /* Return To Gallery Index */
	position        : absolute;
	left            : 300.00pt;
	top             :  74.25pt;
	width           : 117.00pt;
	height          :  12.75pt;
	}
h4#e33              { /* Gallery */
	text-align      : right;
	position        : absolute;
	left            : 525.00pt;
	top             :  78.75pt;
	width           :  97.50pt;
	height          :  18.75pt;
	}
span#e32            { /* wcbgsite013015.jpg */
	background      : transparent url(wcbgsite013015.jpg) no-repeat top left;
	position        : absolute;
	left            : 238.50pt;
	top             : 101.25pt;
	width           : 300.75pt;
	height          : 225.00pt;
	}
span#e31            { /* wcbgsite013014.jpg */
	background      : transparent url(wcbgsite013014.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             :1180.50pt;
	width           : 220.50pt;
	height          : 165.75pt;
	}
span#e30            { /* wcbgsite013013.jpg */
	background      : transparent url(wcbgsite013013.jpg) no-repeat top left;
	position        : absolute;
	left            : 253.50pt;
	top             :1175.25pt;
	width           : 236.25pt;
	height          : 177.00pt;
	}
span#e29            { /* wcbgsite013012.jpg */
	background      : transparent url(wcbgsite013012.jpg) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             : 652.50pt;
	width           : 129.75pt;
	height          : 173.25pt;
	}
span#e28            { /* wcbgsite013011.jpg */
	background      : transparent url(wcbgsite013011.jpg) no-repeat top left;
	position        : absolute;
	left            :  34.50pt;
	top             : 397.50pt;
	width           : 171.75pt;
	height          : 228.00pt;
	}
img#e27             { /* wcbgsite013010.jpg */
	position        : absolute;
	left            : 230.25pt;
	top             : 398.25pt;
	width           : 185.25pt;
	height          : 231.00pt;
	}
span#e26            { /* wcbgsite013009.jpg */
	background      : transparent url(wcbgsite013009.jpg) no-repeat top left;
	position        : absolute;
	left            : 431.25pt;
	top             : 347.25pt;
	width           : 225.75pt;
	height          : 282.00pt;
	}
span#e25            { /* wcbgsite013008.jpg */
	background      : transparent url(wcbgsite013008.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.00pt;
	top             : 133.50pt;
	width           : 167.25pt;
	height          : 223.50pt;
	}
span#e24            { /* wcbgsite013007.jpg */
	background      : transparent url(wcbgsite013007.jpg) no-repeat top left;
	position        : absolute;
	left            : 300.00pt;
	top             : 654.75pt;
	width           : 127.50pt;
	height          : 170.25pt;
	}
img#e23             { /* wcbgsite013006.jpg */
	position        : absolute;
	left            : 168.75pt;
	top             : 652.50pt;
	width           : 127.50pt;
	height          : 174.75pt;
	}
span#e22            { /* wcbgsite013005.jpg */
	background      : transparent url(wcbgsite013005.jpg) no-repeat top left;
	position        : absolute;
	left            : 432.00pt;
	top             : 654.75pt;
	width           : 226.50pt;
	height          : 169.50pt;
	}
span#e21            { /* wcbgsite013004.jpg */
	background      : transparent url(wcbgsite013004.jpg) no-repeat top left;
	position        : absolute;
	left            :  30.75pt;
	top             : 867.75pt;
	width           : 192.75pt;
	height          : 256.50pt;
	}
span#e20            { /* wcbgsite013003.jpg */
	background      : transparent url(wcbgsite013003.jpg) no-repeat top left;
	position        : absolute;
	left            : 496.50pt;
	top             :1170.75pt;
	width           : 138.75pt;
	height          : 185.25pt;
	}
img#e19             { /* wcbgsite013002.jpg */
	position        : absolute;
	left            : 412.50pt;
	top             : 851.25pt;
	width           : 243.00pt;
	height          : 316.50pt;
	}
div#e18             { /* 66 Lb Treadle Hammer */
	position        : absolute;
	left            :  27.00pt;
	top             :1873.50pt;
	width           : 109.50pt;
	height          :  14.25pt;
	}
div#e17             { /* 2x72 inch 1HP Belt Grind... */
	position        : absolute;
	left            : 238.50pt;
	top             : 335.25pt;
	width           : 159.00pt;
	height          :  15.75pt;
	}
div#e16             { /* Base for small Helve Ham... */
	position        : absolute;
	left            :  36.75pt;
	top             : 356.25pt;
	width           : 159.00pt;
	height          :  27.00pt;
	}
div#e15             { /* Small Fly Press */
	position        : absolute;
	left            :  34.50pt;
	top             : 627.75pt;
	width           : 140.25pt;
	height          :  15.00pt;
	}
div#e14             { /* Fly Press Drawing (click... */
	position        : absolute;
	left            : 231.00pt;
	top             : 631.50pt;
	width           : 180.75pt;
	height          :  26.25pt;
	}
div#e13             { /* Fly Press Ram Detail */
	position        : absolute;
	left            : 434.25pt;
	top             : 629.25pt;
	width           : 140.25pt;
	height          :  15.00pt;
	}
div#e12             { /* 34 Lb Rusty-type Power H... */
	position        : absolute;
	left            :  33.00pt;
	top             : 830.25pt;
	width           : 115.50pt;
	height          :  27.00pt;
	}
div#e11             { /* Power Hammer Drawing\ \&... */
	position        : absolute;
	left            : 164.25pt;
	top             : 831.75pt;
	width           : 117.75pt;
	height          :  26.25pt;
	}
div#e10             { /* Some Power Hammer Parts */
	position        : absolute;
	left            : 431.25pt;
	top             : 828.00pt;
	width           : 140.25pt;
	height          :  15.00pt;
	}
div#e9              { /* Power Hammer Dies\ \Cut ... */
	position        : absolute;
	left            : 300.00pt;
	top             : 826.50pt;
	width           : 107.25pt;
	height          :  27.00pt;
	}
div#e8              { /* Power Hammer Guide Assem... */
	position        : absolute;
	left            :  30.75pt;
	top             :1135.50pt;
	width           : 107.25pt;
	height          :  27.00pt;
	}
div#e7              { /* Power Hammer Ram and Gui... */
	position        : absolute;
	left            : 312.75pt;
	top             : 996.00pt;
	width           : 132.00pt;
	height          :  39.00pt;
	}
div#e6              { /* Relining 25 Lb Jardine P... */
	position        : absolute;
	left            :  27.75pt;
	top             :1353.75pt;
	width           : 107.25pt;
	height          :  27.00pt;
	}
div#e5              { /* 25 Lb Jardine Power Hamm... */
	position        : absolute;
	left            : 255.00pt;
	top             :1359.75pt;
	width           : 175.50pt;
	height          :  38.25pt;
	}
div#e4              { /* New ring machined from h... */
	position        : absolute;
	left            : 496.50pt;
	top             :1362.00pt;
	width           : 107.25pt;
	height          :  39.00pt;
	}
div#e3              { /* Copyright, Don Sinclaire... */
	position        : absolute;
	left            : 246.00pt;
	top             :1935.00pt;
	width           : 171.75pt;
	height          :  14.25pt;
	}
h1#e2               { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  53.25pt;
	}
span#e1             { /* wcbgsite009001.jpg */
	background      : transparent url(wcbgsite009001.jpg) no-repeat top left;
	position        : absolute;
	left            :  58.50pt;
	top             :  12.00pt;
	width           :  86.25pt;
	height          :  80.25pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
