/*--- Avanquest WebEasy Page Style ---*/


.cc36               { /* Common */
	font            : italic bold 10pt 'Arial Narrow', Helvetica, sans-serif;
	color           : #ffff00;
	}
.cc37               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc38               { /* Common */
	font            : bold 14pt 'Arial', Helvetica, sans-serif;
	color           : #000000;
	}
.cc39               { /* Common */
	font            : 10pt 'Arial', Helvetica, sans-serif;
	color           : #0000ff;
	}
img#e30             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 255.75pt;
	top             :1446.00pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e29             { /* Return To Gallery Index */
	position        : absolute;
	left            : 261.75pt;
	top             :1449.75pt;
	width           : 117.00pt;
	height          :  12.75pt;
	}
div#e28             { /* Mini Anvils */
	position        : absolute;
	left            :  22.50pt;
	top             : 276.00pt;
	width           : 129.75pt;
	height          :  27.00pt;
	}
div#e27             { /* Back to top of page */
	position        : absolute;
	left            : 275.25pt;
	top             :1423.50pt;
	width           : 106.50pt;
	height          :  14.25pt;
	}
img#e26             { /* wcbgsite001002.gif */
	background-color: transparent;
	position        : absolute;
	left            : 254.25pt;
	top             :1422.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e25            { /* wcbgsite010011.gif */
	clip            : rect(0.00pt,594.00pt,7.50pt,0.00pt);
	background      : transparent url(wcbgsite010011.gif) no-repeat top left;
	position        : absolute;
	left            :  33.75pt;
	top             :  53.25pt;
	width           : 594.00pt;
	height          :   7.50pt;
	}
img#e24             { /* wcbgsite009006.gif */
	background-color: transparent;
	position        : absolute;
	left            : 288.00pt;
	top             :  79.50pt;
	width           : 115.50pt;
	height          :  19.50pt;
	}
div#e23             { /* Return To Gallery Index */
	position        : absolute;
	left            : 294.00pt;
	top             :  83.25pt;
	width           : 117.00pt;
	height          :  12.75pt;
	}
h4#e22              { /* Gallery */
	text-align      : right;
	position        : absolute;
	left            : 525.00pt;
	top             :  81.00pt;
	width           : 103.50pt;
	height          :  23.25pt;
	}
div#e21             { /* Member's Projects */
	position        : absolute;
	left            :   9.00pt;
	top             : 111.00pt;
	width           : 162.00pt;
	height          :  21.00pt;
	}
span#e20            { /* wcbgsite010010.jpg */
	background      : transparent url(wcbgsite010010.jpg) no-repeat top left;
	position        : absolute;
	left            :  23.25pt;
	top             : 137.25pt;
	width           : 182.25pt;
	height          : 138.00pt;
	}
span#e19            { /* wcbgsite010009.jpg */
	background      : transparent url(wcbgsite010009.jpg) no-repeat top left;
	position        : absolute;
	left            : 243.00pt;
	top             : 139.50pt;
	width           : 175.50pt;
	height          : 132.00pt;
	}
span#e18            { /* wcbgsite010008.jpg */
	background      : transparent url(wcbgsite010008.jpg) no-repeat top left;
	position        : absolute;
	left            : 449.25pt;
	top             : 141.00pt;
	width           : 175.50pt;
	height          : 132.75pt;
	}
div#e17             { /* Mini Anvil */
	position        : absolute;
	left            : 243.00pt;
	top             : 275.25pt;
	width           : 129.75pt;
	height          :  27.00pt;
	}
div#e16             { /* Log Tongs */
	position        : absolute;
	left            : 449.25pt;
	top             : 276.75pt;
	width           : 129.75pt;
	height          :  15.00pt;
	}
span#e15            { /* wcbgsite010007.jpg */
	background      : transparent url(wcbgsite010007.jpg) no-repeat top left;
	position        : absolute;
	left            :  21.75pt;
	top             : 314.25pt;
	width           : 243.00pt;
	height          : 181.50pt;
	}
span#e14            { /* wcbgsite010006.jpg */
	background      : transparent url(wcbgsite010006.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.75pt;
	top             : 581.25pt;
	width           : 242.25pt;
	height          : 181.50pt;
	}
span#e13            { /* wcbgsite010005.jpg */
	background      : transparent url(wcbgsite010005.jpg) no-repeat top left;
	position        : absolute;
	left            : 281.25pt;
	top             : 314.25pt;
	width           : 340.50pt;
	height          : 453.75pt;
	}
div#e12             { /* Dragons */
	position        : absolute;
	left            :  24.00pt;
	top             : 495.00pt;
	width           : 130.50pt;
	height          :  15.00pt;
	}
div#e11             { /* Dragon and Lock */
	position        : absolute;
	left            :  26.25pt;
	top             : 767.25pt;
	width           : 130.50pt;
	height          :  15.00pt;
	}
div#e10             { /* Dragon on Cage */
	position        : absolute;
	left            : 282.75pt;
	top             : 771.75pt;
	width           : 130.50pt;
	height          :  15.00pt;
	}
span#e9             { /* wcbgsite010004.jpg */
	background      : transparent url(wcbgsite010004.jpg) no-repeat top left;
	position        : absolute;
	left            :  35.25pt;
	top             : 802.50pt;
	width           : 164.25pt;
	height          : 219.00pt;
	}
span#e8             { /* wcbgsite010003.jpg */
	background      : transparent url(wcbgsite010003.jpg) no-repeat top left;
	position        : absolute;
	left            : 282.00pt;
	top             : 801.75pt;
	width           : 165.75pt;
	height          : 221.25pt;
	}
span#e7             { /* wcbgsite010002.jpg */
	background      : transparent url(wcbgsite010002.jpg) no-repeat top left;
	position        : absolute;
	left            :  36.00pt;
	top             :1053.75pt;
	width           : 411.00pt;
	height          : 309.00pt;
	}
div#e6              { /* Bird Bath Base */
	position        : absolute;
	left            :  34.50pt;
	top             :1026.00pt;
	width           : 130.50pt;
	height          :  15.00pt;
	}
div#e5              { /* Bird Bath Base Detail */
	position        : absolute;
	left            : 279.75pt;
	top             :1029.00pt;
	width           : 130.50pt;
	height          :  15.00pt;
	}
div#e4              { /* Bird Bath on Coal Forge */
	position        : absolute;
	left            :  39.00pt;
	top             :1369.50pt;
	width           : 130.50pt;
	height          :  15.00pt;
	}
div#e3              { /* Copyright, Don Sinclaire... */
	position        : absolute;
	left            : 244.50pt;
	top             :1400.25pt;
	width           : 171.75pt;
	height          :  14.25pt;
	}
h1#e2               { /* Western Canadian Blacksm... */
	text-align      : right;
	position        : absolute;
	left            : 252.75pt;
	top             :  26.25pt;
	width           : 372.75pt;
	height          :  53.25pt;
	}
span#e1             { /* wcbgsite009001.jpg */
	background      : transparent url(wcbgsite009001.jpg) no-repeat top left;
	position        : absolute;
	left            :  58.50pt;
	top             :  12.00pt;
	width           :  86.25pt;
	height          :  80.25pt;
	}
body#page           { /* Page Body */
	background-image: url(yelwdull.jpg);
	}



/*--- EndOfFile ---*/
